<header class="col-span-3 flex h-fit justify-between">
  <button mat-icon-button (click)="toggleWorksheetOpts()">
    <mat-icon class="text-white">menu</mat-icon>
  </button>
  <button mat-icon-button (click)="toggleWorksheetResults()">
    <mat-icon class="text-white">download</mat-icon>
  </button>
</header>

<div [@opened]="worksheetOptsOpened()" [@slide-left]="worksheetOptsOpened()">
  <cmp-worksheet-opts class="flex h-full" />
</div>

<div class="flex flex-col gap-8 p-8">
  @defer (when worksheetOptions().includes('contratos')) {
    @if (worksheetOptions().includes('contratos')) {
      <cmp-contratos-detalhados />
    }
  }
  @defer (when worksheetOptions().includes('inf')) {
    @if (worksheetOptions().includes('inf')) {
      <cmp-itens-notas-fiscais />
    }
  }
  @defer (when worksheetOptions().includes('ne')) {
    @if (worksheetOptions().includes('ne')) {
      <cmp-notas-empenhos />
    }
  }
</div>

<div
  [@opened]="worksheetResultsOpened()"
  [@slide-right]="worksheetResultsOpened()"
>
  <cmp-worksheet-results class="flex h-full" />
</div>
